<div class="container">
    <div class="row">
        <div class="col-sm-4">>
            <img src="/images/kids.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Nara</h1>
            <p>Hello World!</p>
        </div>
        
    </div>        
</div>