<div class="container">
    <h1>About Noah</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" 
            id="name" name="name" placeholder="Enter email">
        </div>
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" 
        id="email" name="email" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <testarea class="form-control" name="message"
            placeholder="Type message..."></testarea>
        </div>
        <button type="submit" class="btn btn-primary">SEND</button>
    </form>
</div>