<div class="container">
    <h1>Portfolio Page</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src= "/images/IMG_2279.jpg" class="img-responsive">
            </div>
        <div class="col-sm-4">
            <img src= "/images/IMG_2331.jpg" class="img-responsive">
         </div>
        <div class="col-sm-4">
            <img src= "/images/IMG_2810.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src= "/images/IMG_3484.jpg" class="img-responsive">
        </div>
   </div>
</div>